@import "tailwindcss";
@import "tw-animate-css";
@import "modern-normalize";
@import "responsive.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "BYekan";
  src: url("/fonts/BYekan/BYekan.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BYekan";
  src: url("/fonts/BYekan/BYekanBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

html[lang="fa"] {
  font-family:
    BYekan,
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ======================= */

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: #1a2b3e;
  --description: #707f8e;
  --footer-background: #0f1a24;
  --footer-foreground: #a2b5cd;
  --footer-icon-background: #2d3e50;
  --footer-icon-foreground: #fff;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #02aa2c;
  --primary-foreground: oklch(0.985 0 0);
  --primary-shadow: #dcf0e1;
  --secondary: #1f75bb;
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --successful: oklch(0.3001 0.0624 146.41);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.1672 0.0291 282.8);
  --foreground: oklch(0.985 0 0);
  --description: #738290;
  --footer-background: #0f1a24;
  --footer-foreground: #2d3e50;
  --footer-icon-background: #2d3e50;
  --footer-icon-foreground: #fff;
  --card: oklch(21.276% 0.04289 282.135);
  /* --card: oklch(0.205 0 0); */
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: var(--foreground);
  /* --popover-foreground: oklch(30.238% 0.03174 19.023); */
  --primary: oklch(0.5487 0.1342 248.4);
  --primary-foreground: oklch(0.985 0 0);
  --primary-shadow: #dcf0e1;
  /* --primary-foreground: oklch(0.205 0 0); */
  --secondary: oklch(0.6656 0.1525 126.75);
  --secondary-foreground: oklch(0.205 0 0);
  /* --secondary-foreground: oklch(0.985 0 0); */
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --successful: oklch(50.199% 0.12565 146.148);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(0.5999 0 0);
  /* --input: oklch(1 0 0 / 15%); */
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: var(--background);
  /* --sidebar: oklch(0.205 0 0); */
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-footer-background: var(--footer-background);
  --color-footer-foreground: var(--footer-foreground);
  --color-footer-icon-background: var(--footer-icon-background);
  --color-footer-icon-foreground: var(--footer-icon-foreground);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-description: var(--description);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-shadow: var(--primary-shadow);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-successful: var(--successful);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  html {
    scrollbar-gutter: stable;
    width: 100%;
  }
  #root {
    @apply primary-gradient isolate w-screen;
    width: 100%;
  }
  body {
    @apply bg-background text-foreground relative;
    scrollbar-gutter: stable; /* Reserves space for scrollbar */
    width: 100%;
  }
  * {
    @apply border-border outline-ring/50 box-border;
  }

  /* LAYOUT - BASED ON VARIABLES */

  header {
    height: var(--header-height);
  }
  main {
    min-height: var(--main-height);
  }
  footer {
    height: var(--footer-height);
  }
}

@utility behind-header {
  margin-top: calc(var(--header-height) * -1);
}

/* === */

@utility h1 {
  @apply scroll-m-20 text-center text-4xl font-extrabold tracking-tight text-balance;
}
@utility h2 {
  @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
}
@utility h3 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight;
}
@utility h4 {
  @apply scroll-m-20 text-xl font-semibold tracking-tight;
}
@utility p {
  @apply leading-7;
}
/* ul list */
@utility list {
  list-style-type: disc;
  @apply my-6 ml-6 [&>li]:mt-2;
}
@utility code {
  @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

/* === */

@utility primary-gradient {
  @apply from-background to-primary bg-linear-to-r from-[-90%] to-2000%;
}

@utility image-container {
  @apply flex size-full items-center justify-center overflow-hidden;

  & > img {
    @apply inset-0 block size-full object-cover;
  }
}

/* === */

@keyframes team-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

@utility animate-team-scroll {
  animation: team-scroll 35s linear infinite;
}
