@import "tailwindcss";
@import "tw-animate-css";

:root {
  font-size: 1rem;

  --header-height: 5rem;
  --footer-height: 30rem;
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));

  --container-padding-x: 1.5rem;
}

@media (max-width: 768px) {
  :root {
    font-size: 0.8rem;

    --footer-height: 44rem;

    --container-padding-x: 1rem;
  }
}

@utility maincontainer {
  @apply px-(--container-padding-x);
}

@utility blogcontainer {
  @apply maincontainer mx-auto max-w-4xl;
}
